<div class="row">
  <div class="col-sm-6">
    <h2>Enregistrer une éducation</h2>
    <form [formGroup]="educationForm" (ngSubmit)="onSaveEducation()">
      <!-- on se lie a l'attribut formGroup "userForm" creer dans le ts-->
      <!-- ngSubmit pour ecouter le submit du button-->
      <div class="form-group">
        <label for="program">Programme d'étude</label>
        <input type="text" class="form-control" id="program" formControlName="program" />
      </div>
      <div class="form-group">
        <label for="diploma">Diplôme obtenu</label>
        <input type="text" class="form-control" id="diploma" formControlName="diploma" />
      </div>
      <div class="form-group">
        <label for="school">École</label>
        <input type="text" class="form-control" id="school" formControlName="school" />
      </div>
      <div class="form-group">
        <label for="dateStart">Date début</label>
        <input type="text" class="form-control" id="dateStart" formControlName="dateStart" />
      </div>
      <div class="form-group">
        <label for="dateEnd">Date fin</label>
        <input type="text" class="form-control" id="dateEnd" formControlName="dateEnd" />
      </div>
      <div class="form-group">
        <label for="city">Ville</label>
        <input type="text" class="form-control" id="city" formControlName="city" />
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="educationForm.invalid">
        Soumettre
      </button>
    </form>
  </div>
</div>
