<h1 class="portfolioTitle">Crée ton portfolio!</h1>
<div class="container d-flex flex-wrap justify-content-center">
  
  <div class="card bg-1">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text"></h3>
        <a routerLink="contact/new">
            Infos personnelles
        </a>
      </div>
    </div>
  </div>

  <div class="card bg-2">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text">Biographie</h3>
      </div>
    </div>
  </div>

  <div class="card bg-3">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text">Expérience professionelle</h3>
      </div>
    </div>
  </div>

  <div class="card bg-4">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text">Éducation</h3>
      </div>
    </div>
  </div>

  <div class="card bg-5">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text">Compétences</h3>
      </div>
    </div>
  </div>

  <div class="card bg-6">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text">Créations Audio</h3>
      </div>
    </div>
  </div>

  <div class="card bg-7">
    <div class="card-body p-2">
      <div class="card-body text-center">
        <h3 class="card-text">Créations Visuelles</h3>
      </div>
    </div>
  </div>
</div>
