<div class="row">
    <div class="col-sm-6">
      <h2>Enregistrer une compétence</h2>
      <form [formGroup]="skillForm" (ngSubmit)="onSaveSkill()">
        <!-- on se lie a l'attribut formGroup "userForm" creer dans le ts-->
        <!-- ngSubmit pour ecouter le submit du button-->
        <div class="form-group">
          <label for="skillName">Compétence</label>
          <input type="text" class="form-control" id="skillName" formControlName="skillName" />
        </div>
        <div class="form-group">
          <label for="rating">Niveau</label>
          <input type="text" class="form-control" id="rating" formControlName="rating" />
        </div>
        <div class="form-group">
          <label for="category">Catégorie</label>
          <input type="text" class="form-control" id="category" formControlName="category" />
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="skillForm.invalid">
          Soumettre
        </button>
      </form>
    </div>
  </div>