<div class="row">
  <div class="col-sm-6">
    <h2>Enregistrer une éducation</h2>
    <form [formGroup]="videoForm" (ngSubmit)="onSaveVideo()">
      <!-- on se lie a l'attribut formGroup "userForm" creer dans le ts-->
      <!-- ngSubmit pour ecouter le submit du button-->
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" formControlName="title" />
      </div>
      <div class="form-group">
        <label for="year">Année</label>
        <input type="text" class="form-control" id="year" formControlName="year" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="vimeoEmb">Lien iFrame</label>
        <input type="text" class="form-control" id="vimeoEmb" formControlName="vimeoEmb" />
      </div>
      <div class="form-group">
        <label for="vimeoLink">Lien video</label>
        <input type="text" class="form-control" id="vimeoLink" formControlName="vimeoLink" />
      </div>
      <div class="form-group">
        <label for="image">Lien video</label>
        <input type="text" class="form-control" id="image" formControlName="image" />
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="videoForm.invalid">
        Soumettre
      </button>
    </form>
  </div>
</div>
