.masthead {
  background-color: rgb(50, 50, 50);
  min-height: 100vh;
  width: 100%;
  background:
    linear-gradient(rgba(52, 58, 64, 1) 5%, rgba(154, 141, 123, 0.3) 80%),
    url("../../../assets/images/light-1282314_1280.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

button {
  background-color: transparent;
  width: 100%;
  border: none;
}

button:focus {
  outline: none;
}

p {
  text-align: center;
  padding: 15vh 10vw 2vh 10vw;
  width: 100%;
  
}

.special {
  font-size: 600%;
  color: black;
  font-weight: 700;
}