<div class="row">
    <div class="col-sm-6">
      <h2>Enregistrer une biographie</h2>
      <form [formGroup]="biographyForm" (ngSubmit)="onSaveBiography()">
        <!-- on se lie a l'attribut formGroup "userForm" creer dans le ts-->
        <!-- ngSubmit pour ecouter le submit du button-->
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" class="form-control" id="title" formControlName="title" />
        </div>
        <div class="form-group">
          <label for="text">Texte</label>
          <textarea class="form-control" id="text" formControlName="text" ></textarea>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="biographyForm.invalid">
          Soumettre
        </button>
      </form>
    </div>
  </div>